.article__title {
  font-family: Helvetica Bold, Arial, sans-serif;
  line-height: 1;
  font-size: 70px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: -0.03em;
  margin: 0 0 22px;
}

.article__shortdesc {
  font-size: 14px;
  max-width: 540px;
  text-align: center;
  margin: 0 auto;
}

.article__title__content {
  font-family: Helvetica Bold, Arial, sans-serif;
  font-size: 32px;
  line-height: 1.2;
  text-transform: uppercase;
  text-align: center;
  max-width: 780px;
  letter-spacing: -0.03em;
  margin: 36px auto;
}
