.menu__item-button {
  background: #13cf2e;
  color: #181818;
  display: flex;
  align-items: center;
  height: 34px;
  padding: 0 20px;
  text-decoration: none;
  position: relative;
  -webkit-transition: color 0.35s ease;
  transition: color 0.35s ease;
  white-space: nowrap;
  border: none;
  text-transform: uppercase;
  font-weight: bold;
  font-family: Helvetica Bold, Arial, sans-serif;
  font-size: 12px;
  letter-spacing: -0.04em;
}

.menu__item-button:hover {
  color: black;
}

.menu__item-button_margin-left {
  margin-left: 25px;
}

@media only screen and (max-width: 996px) {
  .menu__item-button_margin-left {
    margin-left: 0;
  }

  .menu__item-button {
    padding: 0 10px;
  }
}
