ul {
  list-style-type: none;
}

.articlesList__item {
  background-color: rgb(243, 243, 243);
}

.articlesList__item > a {
  color: black;
}

.articlesList__item:hover > a,
.articlesList__item:hover span {
  color: white;
}

.articlesList__item:hover {
  background-color: var(--ifm-color-primary);
}
