.social {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
}

.social:hover {
  filter: invert(70%) sepia(92%) saturate(2947%) hue-rotate(81deg)
    brightness(96%) contrast(97%);
}

.icon {
  width: 20px;
  height: 20px;
}
