.title {
  font-family: Helvetica Bold, Arial, sans-serif;
  font-size: 32px;
  line-height: 1.2;
  text-transform: uppercase;
  text-align: center;
  max-width: 780px;
  letter-spacing: -0.03em;
  margin: 36px auto;
}

/**
  Blog post title should be smaller on smaller devices
**/
@media (max-width: 576px) {
  .title {
    font-size: 2rem;
  }
}
