.articles-list {
  width: 100%;
}

.articles-list ul.articles-list__list {
  list-style-type: none;
  margin-block-end: 0;
  padding-inline-start: 0;
  max-width: 100%;
}

.articles-list li.articles-list__item {
  text-transform: uppercase;
  font-weight: bold;
  padding: 34px 0 23px;
  transition: all 0.3s ease;
  border-bottom: 1px solid #ebebeb;
  text-align: center;
}

.articles-list li.articles-list__item:first-of-type {
  border-top: 1px solid #ebebeb;
}

.articles-list li.articles-list__item:last-of-type {
  border-bottom: none;
}

.articles-list__title {
  font-size: 34px;
}

.articles-list__link {
  color: black;
}

.articles-list__item:hover > .articles-list__link,
.articles-list__item:hover span {
  color: white;
}

.articles-list__item:hover {
  background-color: var(--ifm-color-primary);
}
