.articles-list {
  width: 100%;
}

.articles-list ul.articles-list__list {
  list-style-type: none;
  margin-block-end: 0;
  padding-inline-start: 0;
  max-width: 100%;
}

.articles-list li.articles-list__item {
  text-transform: uppercase;
  font-weight: bold;
  transition: all 0.3s ease;
  border-bottom: 1px solid #ebebeb;
  text-align: center;
}

.articles-list li.articles-list__item:first-of-type {
  border-top: 1px solid #ebebeb;
}

.articles-list li.articles-list__item:last-of-type {
  border-bottom: none;
}

.articles-list__title {
  font-family: Helvetica Bold, Arial, sans-serif;
  font-size: 68px;
  font-weight: 700;
  line-height: 1.02;
  text-transform: uppercase;
}

.articles-list__link {
  display: block;
  padding: 70px 0 52px;
  color: #222;
  text-decoration: none;
}

.articles-list__item:hover a,
.articles-list__item:hover span {
  color: white;
}

.articles-list__item:hover {
  background-color: var(--ifm-color-primary);
}

.articles-list__container {
  max-width: 1600px;
  padding: 0 50px;
  width: 100%;
  margin: 0 auto;
}

.articles-list__desc {
  font-size: 14px;
  line-height: 1.72;
  max-width: 460px;
  margin: 15px auto 28px;
  text-transform: none;
}

.short .articles-list__title {
  font-size: 36px;
}

.short .articles-list__link {
  padding: 34px 0 23px;
}

@media only screen and (max-width: 599px) {
  .articles-list__title {
    font-size: 6vw;
  }
}
